.body {
  height: 100%;
  display: grid;

  gap: 1vh;
  place-content: stretch;
  place-items: stretch;
  align-content: center;
  grid-template-columns: [start] 2fr [middle] 1fr [end];
  grid-template-rows: [start] min-content [skill-end] min-content [exp-end];
}

.body > * {
  padding: 1.5vh;

  border: 0.1vh solid rgb(126, 126, 126);
  border-radius: 2vh;
  box-shadow: 0 0 5vh -1vh rgba(60, 60, 60, 0.25);
}

.experience {
  grid-column: start / middle;
  grid-row: start / exp-end;
}
.xp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5vh;
}
.list {
  height: calc(100% - 3vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sublist {
  margin-top: 1vh;
  list-style: disc;
}
.sublist > li {
  margin: 0.25vh;
}

.skill {
  grid-column: middle / end;
  grid-row: start / skill-end;
}
.skillicons {
  display: grid;
  height: calc(100% - 10vh);
  place-content: stretch;
  place-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 1.5vh;
  padding: 1vh;
  text-align: center;
}
.skillicons > * > svg {
  display: block;
  margin: auto;
  margin-bottom: 0.5vh;
  height: 3vh;
  width: 3vh;
}

.education {
  grid-column: middle / end;
  grid-row: skill-end / exp-end;
}
