.page {
    margin: auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;

    height: 95vh;
    width: calc(95vh * 0.772);
    padding: 3vh;

    color: black;
    background-color: white;
    border-radius: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.page > * {
    margin-bottom: 2vh;
}
